<!-- Edit FFB  -->
{% extends "sale/add_soplan.html" %}
<!-- Edit Myapp  -->
{% block modal-id %} id="edit_ffb_Modal{{ffb.id}}" {% endblock modal-id %} data-backdrop

{% block modal-title %}<i calss="fas fa-plus"><i calss="fas fa-plus"></i>&nbsp;&nbsp; Edit  {% endblock modal-title %}
                
<!-- -- Form -- -->
{% block Action %} action="/edit_f/{{ffb.id}}" {% endblock Action %}

{% block Value-id %} {% endblock Value-id %}

{% block Value-poinvid %} Value= "{{ ffb.poinvid }}" {% endblock Value-poinvid %}
{% block Value-billid %} Value= "{{ ffb.billid }}" {% endblock Value-billid %}
{% block Value-vendorcardid %} Value= "{{ ffb.vendorcardid }}" {% endblock Value-vendorcardid %}
{% block Value-typecarid %} Value= "{{ ffb.typecarid }}" {% endblock Value-typecarid %}
{% block Value-goodib %} Value= "{{ ffb.goodib }}" {% endblock Value-goodib %}
{% block Value-goodob %} Value= "{{ ffb.goodob }}" {% endblock Value-goodob %}
{% block Value-goodnet %} Value= "{{ ffb.goodnet }}" {% endblock Value-goodnet %}
{% block Value-price1 %} Value= "{{ ffb.price1 }}" {% endblock Value-price1 %}
{% block Value-amnt1 %} Value= "{{ ffb.amnt1 }}" {% endblock Value-amnt1 %}
{% block Value-vendorcode %} Value= "{{ ffb.vendorcode }}" {% endblock Value-vendorcode %}
{% block Value-vendorname %} Value= "{{ ffb.vendorname }}" {% endblock Value-vendorname %}
{% block Value-grade %} Value= "{{ ffb.grade }}" {% endblock Value-grade %}
{% block Value-impurity %} Value= "{{ ffb.impurity }}" {% endblock Value-impurity %}

{% block modal-submit %}<button type="submit"  class="btn btn-warning"><i class="far fa-save"></i> อัพเดท </button>{% endblock modal-submit %}